body {
    background-color: #E5E8E8;
    vertical-align: middle;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: 50px;
    padding: 20px;

  }
  
  h1 {
    color: #FFC300;
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: 1px black;
    
  }
  
  p {
    font-size: 18px;
  }

  li {
    font-size: 20px;
  }

  html {
    display: table;
    margin: auto;
  }

  #quote {
    text-align: center;
  }

  #content {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
  }

  img {
    border-radius: 50%;
  }
